<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoGmNhBGTcl5fQWiU5Sfz1jkCa4phpIhg</string>
	<key>GCM_SENDER_ID</key>
	<string>982252233817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.retailinsight.app</string>
	<key>PROJECT_ID</key>
	<string>retail-insight-e7e4f</string>
	<key>STORAGE_BUCKET</key>
	<string>retail-insight-e7e4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982252233817:ios:f55be680113dce2ccfbd48</string>
</dict>
</plist>